/TD1202 Debug
/TD1202 Release
/TD1204 Release
/TD1208 Release
/TD1204 Debug
/TD1208 Debug
/TD1508 Release
/TD1508 Debug
/TD1205 Debug
/TD1205 Release
/Ref Design ETSI Release
/Ref Design ETSI Debug
/Ref Design FCC Debug
/Ref Design FCC Release
