/IAR Release
/GCC Debug
/GCC Release
/IAR Debug
/html
/GCC Release (uart redirection)
/IAR Release (REMOVE TRAP CALL)
/GCC Release EZR
/GCC Debug EZR
/GCC Release
/GCC Release 128K EZR
/GCC Debug 128K EZR
/GCC Release EZR
/GCC Release EZR
