/TD1204 Debug
/TD1204 Release
/TD1208 Debug
/TD1208 Release
/TD1205 Release
/TD1205 Debug
/TD1508 Release
/TD1508 Debug
/Ref Design ETSI Release
/Ref Design ETSI Debug
/Ref Design FCC Debug
/Ref Design FCC Release
/TD1205P Release
